<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<style>
body {
  background-image: url('https://images.unsplash.com/photo-1504712598893-24159a89200e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjQyMjc5fQ&auto=format&fit=crop&w=751&q=80');
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">

</head>
<body class="container">
<form class="container-fluid" method="post" action="/recipes/add">
    <h1 class="container">Mom's Cuisine</h1>
    <h3 class="container">Add Recipe</h3>
    <div class="col-sm-4">
        <input class="form-control" type="text" name="name" placeholder="Recipe Name">
    </div>
    <label></label>
    <div class="col-6">
        <textarea class="form-control" type="text" name="ingredients" placeholder="Ingredients"></textarea>
    </div>
    <label></label>
    <div class="col-7">
        <textarea class="form-control" type="text" name="preparationMethod" placeholder="Preparation Method"></textarea>
    </div>
    <div class="container">
        <label>Cuisine
            <select class="form-control" th:field="${recipe.type}">
                <option th:each="type : ${types}"
                        th:value="${type}"
                        th:text="${type.displayCuisine}">
                </option>
            </select>
        </label>
    </div>
    <label></label>
    <div class="container">
        <button class="btn btn-primary" type="submit" name="action" value="submit">Add</button>
        <button class="btn btn-primary" type="submit" name="action" value="cancel">Cancel</button>
    </div>
</form>
</body>
</html>