<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<p th:unless = "${recipes} and ${recipes.size()}">No Recipes!</p>

<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Recipe Name</th>
        <th>Ingredients</th>
        <th>Preparation Method</th>
        <th>Cuisine</th>
    </tr>
    </thead>
    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.id}"></td>
        <td th:text="${recipe.name}"></td>
        <td th:text="${recipe.ingredients}"></td>
        <td th:text="${recipe.preparationMethod}"></td>
        <td th:text="${recipe.type.displayCuisine}"></td>
     </tr>
</table>

</body>
</html>