.bg {
  background: ('https://www.shutterstock.com/image-photo/assorted-indian-food-754732342') no-repeat;
  width: 100%;
  height: 100vh;
  background-size: 100%;
}

.form-container {
  position: absolute;
  top: 80px;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
}

.search-h1{
  color:white;
}

