<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Mom's Cuisine</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{/styles.css}">

</head>

<body>
<header th:fragment="header">
    <h1 th:text="${title}">Mom's Cuisine</h1>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/recipes">All Recipes</a></li>
        <li class="nav-item"><a class="nav-link" href="/recipes/add">Add Recipe</a></li>
        <li class="nav-item"><a class="nav-link" href="/recipes/delete">Delete Recipe</a></li>
        <li class="nav-item"><a class="nav-link" href="/login">Sign in</a> </li>
    </ul>
</header>

</body>
</html>