<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Mom's Cuisine</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<style>
body{
background:url('https://images.unsplash.com/photo-1493770348161-369560ae357d?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60') no-repeat;
width: 100%;
height: 100vh;
background-size: 100%;
}
</style>
<body>
<section class="container-fluid ">
    <section class="row justify-content-center">
      <section class="col-12 col-sm-6 col-md-3">
          <header>
            <h1 th:text="${title}">Mom's Cuisine</h1>
          </header>
          <form class="form-container" method="post">
              <div class="form-group">
                  <label th:for="username">Username
                      <input class="form-control" th:field="${loginFormDTO.username}" placeholder="Enter email">
                  </label>
                  <p class="error" th:errors="${loginFormDTO.username}"></p>
              </div>
              <div class="form-group">
                  <label>Password
                      <input class="form-control" th:field="${loginFormDTO.password}" type="password" placeholder="Password">
                  </label>
                  <p class="error" th:errors="${loginFormDTO.password}"></p>
              </div>
              <input type="submit" class="btn btn-primary btn-block" value="Log In" />
          </form>
          <p>Don't have an account? <a href="/register">Register for one.</a></p>
      </section>
    </section>
</section>
</body>
</html>